.offers{
    display: flex;
    border: 1px solid #d8d7d7;
    padding: 25px;
    justify-content: space-between;
    overflow: hidden;
    background-color: #fff !important;
    margin-top: 10px;
}
.list-1{
    /* border: 1px solid #000; */
    position: relative;
    padding: 30px 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2) ;
}
.time h5{
  background-color: rgb(54, 53, 53);
  color: #fff;
  padding: 6px;
  border-radius: 5px !important;
  margin-left: 5PX;
}
.list-img img{
  width: 100%;
  height: 8rem;
}
.list-1 p{
  position:absolute;
  background-color: #FFE3E3;
  color: #EB001B;
  padding: 1px 3px;
  border-radius: 40px !important;
  margin-left: 5PX;

}
